
.welcome{
  line-height: 1rem;
}
header{
  background-color: $c-orange;
}
header h3{
  color: white;
}
.emphezise{
  font-size: 1.75rem;
  text-decoration: underline;
  color: $c-wine;
}
.title{
  color: $c-wine;
  border: 4px solid $c-wine;
}
.blueborder{
  color: $c-wine;
  border: 2px solid $c-blue;
}
.zaal{
  color: $c-orange;
  background: $c-wine;
  border: 2px solid $c-orange;
}
.rij{
  color: white;
  background: $c-wine;
}
.zetel{
  color: white;
  background: $c-orange;
}
.fa-check, .fa-times{
  color: $c-orange;
}
