
.welcome{
  line-height: 1rem;
}
header{
  background-color: var(--main-orange-color);
}
header h3{
  color: white;
}
.emphezise{
  font-size: 1.75rem;
  text-decoration: underline;
  color: var(--nog-een-kleur);
}
.title{
  color: var(--nog-een-kleur);
  border: 4px solid var(--nog-een-kleur);
}
.blueborder{
  color: var(--nog-een-kleur);
  border: 2px solid #0056b3;;
}
.zaal{
  color: var(--main-orange-color);
  background: var(--nog-een-kleur);
  border: 2px solid var(--main-orange-color);
}
.rij{
  color: white;
  background: var(--nog-een-kleur);
}
.zetel{
  color: white;
  background: var(--main-orange-color);
}
.fa-check{
  color: var(--main-orange-color);
}
