@import url('https://fonts.googleapis.com/css?family=Lora|Roboto');
:root{
  --main-bg-color: #1F1F1E;
  --main-orange-color: #D17133;
  --main-white-color: #F7F7F7;
  --nog-een-kleur: #532406;
  --text-color: #707070;
}
body{
  background-color: var(--main-bg-color);
  font-family: 'Roboto', sans-serif;
}
p{
  margin-bottom: 0;
}
.lightbody{
  background-color: white;
}
.darkbody{
  background-color: var(--main-bg-color);
}
.orangebody{
  background-color: var(--main-orange-color);
}
.navbar{
  background-color: var(--main-orange-color) !important;
}
.navbar-brand{
  width: 200px;
  height: 60px;
}
.navbar-brand img{
  height: 50px;
}
.navbar-nav h3, .navbar-nav a{
  color: var(--main-white-color);
}
.midtext{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.midtext p{
  color: var(--nog-een-kleur);
}
.slider-element{
  border: 1px solid var(--main-orange-color);
}
.card-body{
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-orange-color);
  border-left: none;
  border-right: none;
  border-bottom: none;
  height: 109px;
  position: relative;
}
.card-title{
  margin-bottom: 0;
}
.card-body h5{
  color: var(--main-orange-color);
  margin-top: 20px;
}
.card-body:hover{
  background-color: var(--main-orange-color);
}
.card-body:hover h5{
  color: var(--main-white-color);
}
.controls-top a{
  background-color: var(--main-orange-color) !important;
}
.carousel-multi-item {
  margin-bottom: 0;
}
.carousel-multi-item .controls-top{
  margin-bottom: 0;
}
.video{
  width: 100vw;
}
.video iframe{
  width: 100%;
  height: calc(100vh - 76px);
  border: none;
}
.movie-details{
  border: 1px solid var(--main-orange-color);
  border-radius: .125rem;
}
.icons{
  width: 100%;
  height: 60px;
}
.icons img{
  width: 10%;
  margin-right: 15px;
}
.info{
  color:var(--text-color);
}
.info p{
  font-size: 1.5rem;
}
.date-picker label{
  margin-top: 20px;
}
.bestellen{
  width: 100%;
}
.bestellen label{
  float: left;
}
.bestellen select{
  display: block !important;
  height: 54px;
  margin: .375rem;
  border-radius: .125rem;
  background-color: var(--main-bg-color);
  color: white;
}
.order-button{
  background-color: var(--main-orange-color);
  color: white;
}
.order-button:hover{
  color: var(--text-color);
}
.inhoud .sans-serif{
  font-family: 'Lora', serif;
}