{% extends 'base.html.twig' %}
{% block title %} algemene voorwaarden {% endblock %}
{% block body %}

<div class="footer-link-page explanation mb-3 mb-md-5">
    <h3>ALGEMEEN</h3>
    <p class="text-justify mb-4"> De FilmSchuur.be is een online product toegankelijk voor gebruikers die de algemene voorwaarden, het cookiebeleid , het privacybeleid en de bijhorende voorwaarden en waarschuwingen van de site aanvaarden. Door de website te gebruiken, aanvaardt men automatisch en onherroepelijk genoemde bepalingen, voorwaarden en waarschuwingen.</p>

    <h3>GEBRUIK</h3>
    <p class="text-justify mb-4">Het materiaal op DeFilmSchuur.be is beschikbaar voor iedereen zolang het voor persoonlijke en privé doeleinden wordt gebruikt. Alle inhoud van deze site zoals afbeeldingen, video’s, tekst, tekeningen, audio, downloads, handelsmerken, product- of bedrijfsnamen, e.a. zijn door auteursrechten beschermd. Het copyright van dit materiaal blijft ten allen tijde bij de oorspronkelijke eigenaars. Geen enkel deel of materiaal van deze site mag gedistribueerd of gekopieerd worden voor commercieel gebruik zonder expliciete toestemming van de respectievelijke copyright eigenaars. Een databank mag zich ook niet baseren op substantiële delen van website zonder de expliciete, schriftelijke toestemming van DeFilmSchuur.be.</p>
    <p class="text-justify mb-4">Beeldmateriaal, tekst, paginadesign of vorm van de DeFilmSchuur.be mag in geen enkel geval hergebruikt worden met toevoeging van een trademark, logo of andere eigendomsinformatie zonder de expliciete, schriftelijke toestemming van DeFilmSchuur.be.</p>
    <p class="text-justify mb-4">Onder geen beding mag content van de website systematisch en/of automatisch geëxtraheerd worden zonder de expliciete, schriftelijke toestemming van DeFilmSchuur.be.</p>
    <p class="text-justify mb-4">DeFilmSchuur.be respecteert het intellectueel eigendomsrecht van anderen. Indien je ervan overtuigd bent dat jouw intellectueel eigendom onrechtmatig gebruikt werd op onze website, gelieve ons onmiddellijk te verwittigen via de contactknop onderaan.</p>
    
    <h3>GEBRUIKERSGEDRAG</h3>
    <p class="text-justify mb-4">De toegang tot DeFilmSchuur.be verstoren of de website beschadigen of aanpassen – zij het door bewuste aanval of door onrechtmatig gebruik van de site – is in geen enkel geval toegelaten. Het is verboden DeFilmSchuur.be te gebruiken voor doeleinden die ongeoorloofd, onwettelijk of in strijd zijn met onderhavige algemene voorwaarden.</p>
    <p class="text-justify mb-4">De site mag in geen enkel geval gebruikt worden voor volgende doeleinden:</p>
    <ul class="custom_list">
        <li>verzenden of (her)gebruiken van materiaal dat illegaal, lasterend, obsceen, onterend of bedreigend is; dat kwetsend of verwerpelijk is voor derde partijen; dat software virussen, politiek campagnemateriaal, commerciële boodschappen, kettingboodschappen of spam bevat</li>
        <li>inbreuken op copyright, trademark, vertrouwen, privacy of andere rechten;</li>
        <li>frauduleuze of criminele doeleinden, het systematisch pesten of ongemak bezorgen aan derden.</li>
    </ul>

    <h3>PRODUCTINFORMATIE</h3>
    <p class="text-justify mb-4">De FilmSchuur stelt op haar website alle nodige informatie ter beschikking betreffende de producten zoals de op het moment van aankoop geldende prijzen, programmatie-informatie bij de aankoop van de tickets en de geldigheidsduur en andere gebruiksvoorwaarden die verbonden zijn aan de producten. De prijzen die worden vermeld omvatten alle kosten verbonden aan de aankoop, levering en het gebruik van de producten, tenzij uitdrukkelijk anders vermeld op de website. Informatie betreffende het gebruik van producten kan ook worden meegedeeld in het aankoop-en toegangsbewijs dat de klant ontvangt. Elk gebruik van de producten is bovendien onderworpen aan het huishoudelijk reglement van de bioscoop waar de klant een voorstelling wenst bij te wonen.</p>

    <h3>VERANTWOORDELIJKHEID</h3>
    <p class="text-justify mb-4"> Alle informatie en materiaal wordt zoveel mogelijk door DeFilmSchuur.be op juistheid gecontroleerd. De website is echter niet verantwoordelijk voor mogelijke onjuiste informatie. Indien je informatie of materiaal op de website vindt die volgens jou onjuist is, dan kan je dit steeds melden via de contactknop onderaan. Alle informatie wordt geleverd "in de staat waarin ze zich bevindt", zonder welke waarborg ook. We sluiten elke waarborg ten aanzien van bovenstaande gegevens uit en meer bepaald elke waarborg inzake kwaliteit, geschiktheid voor een bepaald gebruik, eigendom en afwezigheid van namaak. De FilmSchuur.be wijst verder alle aansprakelijkheid af voor de geschiktheid, de betrouwbaarheid en de juistheid ervan, ongeacht het geplande gebruik van de adressen, inlichtingen, producten en materiaal die zich op de site bevinden.</p>
    <p class="text-justify mb-4">De FilmSchuur.be kan in geen geval aansprakelijk worden gesteld voor rechtstreekse of onrechtstreekse schade, incidenten, schadevergoeding die als straf werd uitgesproken noch voor andere schade van welke aard ook, meer bepaald voor schade die voortvloeit uit een verlies van gebruik, van adres, van gegevens of van databanken, noch voor winstverlies ingevolge vertraging in verband met het gebruik van de site, noch voor de onmogelijkheid deze te gebruiken, noch voor schade in verband met informatie, programma's, producten, diensten of materiaal.</p>

    <h3>GARANTIE</h3>
    <p class="text-justify mb-4"> De FilmSchuur probeert ten allen tijde toegang tot de site te verzekeren. De site kan af en toe ontoegankelijk zijn voor herstelling, onderhoud of de lancering van nieuwe functionaliteiten en/of diensten. Deze onderbrekingen of storingen worden steeds zo kort mogelijk te houden. De Filmschuur kan echter niet verantwoordelijk gehouden worden voor mogelijke gevolgen van storingen of onderbrekingen. We kunnen niet garanderen dat de servers waarop de website draait fout- of virusvrij zijn en De FilmSchuur accepteert dan ook geen verantwoordelijkheid voor mogelijke gevolgen hiervan. De gebruiker wordt geadviseerd ten allen tijde de nodige stappen te ondernemen om de veiligheid van zijn/haar eigen toestel en verbinding te garanderen.</p>
    <p class="text-justify mb-4">De FilmSchuur biedt de mogelijkheid contact op te nemen met de redactie (via mail, post en/of contactformulier). We proberen ten allen tijd deze fysieke en digitale post tijdig te beantwoorden. De website garandeert echter in geen geval dat elke communicatie zal beantwoord worden.</p>


    <h3>VERKOOPPROCES</h3>
    <p class="text-justify mb-4">De klant kan de producten aankopen op de website en dient de daar beschreven stappen te doorlopen, zoals het aanduiden van de gewenste producten en de gewenste hoeveelheid, het doorlopen van de betaalprocedure en het invullen van de persoonlijke gegevens nodig voor onder meer ontvangst van het aankoop- en toegangsbewijs en de elektronische aflevering van de producten. Elke stap in het verkoopproces wordt op de website uitgelegd. De klant beschikt over de mogelijkheid zijn bestelling na te kijken en te corrigeren alvorens tot betaling over te gaan. De klant zal tijdens de aankoop de mogelijkheid hebben kennis te nemen van de algemene verkoopsvoorwaarden en van de privacyverklaring. De aankoop van producten houdt aanvaarding in van deze voorwaarden en van de privacyverklaring.</p>

    <h3>LEVERING</h3>
    <p class="text-justify mb-4">Tenzij uitdrukkelijk anders aangegeven op de website, gebeurt de levering van de producten steeds op elektronische wijze, bijvoorbeeld door het toezenden van een aankoop- en toegangsbewijs naar het e- mailadres dat door de klant werd opgegeven. De klant is verantwoordelijk voor het geldig karakter van het opgegeven e-mailadres en hij dient zelf in te staan voor de werking en beveiliging van het e-mailprogramma dat hij gebruikt voor de ontvangst van de producten. Het risico op verlies van producten die langs elektronische weg worden verzonden gaat over op de klant op het moment van de aflevering van de e-mail bij de provider van de klant. De klant wordt steeds een aankoopbewijs per e-mail toegestuurd met een samenvatting van de belangrijkste gegevens van de aankoop. De klant dient zelf in te staan voor de bewaring van deze e-mail. Indien de klant geen aankoopbevestiging ontvangt, kan hij De FilmSchuur contacteren via onderstaande contactknop. Elke aankoopbevestiging van tickets bevat een toegangsbewijs of een link naar dit toegangsbewijs, met toegangscode die de klant recht geeft op ontvangst in de bioscoop. Indien de klant niet beschikt over een printer of smartphone kan hij gebruik maken van de reservatiecode weergegeven op het aankoop- en toegangsbewijs. Enkel het bezit van een geldig toegangsbewijs of reservatiecode geeft recht op toegang tot onze filmzalen.</p>
    <p class="text-justify mb-4">Elk toegangsbewijs, elke reservatiecode en elk van de codes verbonden aan een product is uniek, mag noch gewijzigd of gekopieerd worden en is, tenzij uitdrukkelijk anders meegedeeld, slechts eenmaal bruikbaar.</p>

    <h3>JURISDICTIE EN RECHTSPOSITIE</h3>
    <p class="text-justify mb-4"> De FilmSchuur behoudt zich het recht voor deze disclaimer ten allen tijde te herzien en/of aan te passen in de toekomst. Alle revisies zullen beschouwd worden als van toepassing vanaf het moment van de eerste publicatie op de site. De website valt onder het Belgisch recht, elk dispuut met betrekking tot De FilmSchuur.be vallen onder de jurisdictie van het Belgisch gerecht. </p>
</div>

{{ include('components/footer.html.twig') }}

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ asset('js/year.js') }}"></script>
{% endblock %}