{% extends 'base.html.twig' %}
{% block title %}De filmschuur{% endblock %}
{% block body %}
    <section class="darkbody homepage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 offset-1 mt-5">
                <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel">
                    <div class="carousel-inner v-2" role="listbox">
                        {% for movie in res %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <div class="col-12 col-md-4">
                                <a href="/film/{{ movie.movieID }}">
                                <div class="card card-film slider-element">
                                    <img class="card-img-top" src="http://fullstacksyntra.be/{{ movie.poster }}"
                                         alt="Card image cap">
                                    <div class="card-film-body">
                                        <h5 class="card-title font-weight-bold text-center py-3">{{ movie.movie_title }}</h5>
                                    </div>
                                </div>
                                </a>
                            </div>
                                
                        </div>

                        {% endfor %}
                    </div>
                    <!--Controls-->
                    <div class="controls-top mt-3">
                        <a class="btn-floating" href="#carousel-example-multi" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
                        <a class="btn-floating" href="#carousel-example-multi" data-slide="next"><i class="fas fa-chevron-right"></i></a>
                    </div>
                    <!--/.Controls-->
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}
{% block scripts %}
        <script type="text/javascript" src="{{ asset('js/carousel.js') }}"></script>
        <script type="text/javascript" id="cookieinfo"
            src="//cookieinfoscript.com/js/cookieinfo.min.js"
            data-bg="rgba(0,0,0,0.8)"
            data-fg="#FFFFFF"
            data-link="#D17133"
            data-divlinkbg="#D17133"
            data-divlink="#FFF"
            data-cookie="CookieInfoScript"
            data-text-align="left"
            data-close-text="Accepteren"
            data-message = "Wij gebruiken cookies om u ervaring te verbeteren. Door op Accepteren te drukken aanvaardt u onze cookies"
            data-linkmsg = "Lees meer!";
            data-moreinfo = "/cookiebeleid";
            >
        </script>
{% endblock %}