{% extends 'base.html.twig' %}
{% block title %}De filmschuur{% endblock %}
{% block body %}
    <section class="darkbody homepage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 offset-1 mt-5">
                <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel">
                    <div class="carousel-inner v-2" role="listbox">
                        {% for movie in res %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">
                            <div class="col-12 col-md-4">
                                <a href="/film/{{ movie.movieID }}">
                                <div class="card card-film slider-element">
                                    <img class="card-img-top" src="http://fullstacksyntra.be/{{ movie.poster }}"
                                         alt="Card image cap">
                                    <div class="card-body">
                                        <h5 class="card-title font-weight-bold text-center">{{ movie.movie_title }}</h5>
                                    </div>
                                </div>
                                </div>
                                </a>
                        </div>

                        {% endfor %}
                    </div>
                    <!--Controls-->
                    <div class="controls-top mt-3">
                        <a class="btn-floating" href="#carousel-example-multi" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
                        <a class="btn-floating" href="#carousel-example-multi" data-slide="next"><i class="fas fa-chevron-right"></i></a>
                    </div>
                    <!--/.Controls-->
                </div>
            </div>
        </div>
    </div>
    </section>
{% endblock %}
{% block scripts %}
        <script type="text/javascript" src="{{ asset('js/carousel.js') }}"></script>
{% endblock %}