{% extends 'base.html.twig' %}
{% block title %} information {% endblock %}
{% block body %}
<nav class="subnavbar mt-3 mt-md-5  mb-3 mb-md-4 ">
  <a id="O" class="htmlbutton active" href="#">Route</a>
  <a id="1" class="htmlbutton" href="#">Tarieven</a>
  <a id="2" class="htmlbutton" href="#">Zalen</a>
  <a id="3" class="htmlbutton" href="#">Huisregels</a>
  <a id="4" class="htmlbutton" href="#">FAQ</a>
  <a id="5" class="htmlbutton" href="#">Contact</a>
</nav>

<div id="route" class="jump"></div>
 <div class="content">
  <div class="map map-responsive mb-5">
    <p id="topbar" class=" mt-1">Route naar DFS met auto en openbaar vervoer</p>
    <iframe 
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1ckMeAA6Lf0NZFkupssiix8k6Lnavwuzq"
            width="100%"
            height="480"
            style="border-color: var(--main-orange-color);">
    </iframe>
  </div>

  <div class="explanation mb-3 mb-md-5">
    <h3 class="mb-4">Adres</h3>
    <p class="mb-4"><i class="fas fa-map-marker-alt mr-2"></i>Kasteelstraat 20, 1750 Gaasbeek</p>
    <p>Gaasbeek is een deelgemeente van Lennik, ca. 10 km ten zuidwesten van Brussel.</p>
    <p class="mb-4">GPS 50° 48' 0.1476" N, 4° 12' 8.1972" E (Kasteelstraat 20)</p>
    <h3 class="mb-4">Openingstijden</h3>
    <p><strong>Kassa</strong></p>
    <p>Maandag – Zaterdag: 13u30 – 23u</p>
    <p class="mb-4">Zondag: 10u30 – 23u</p>
    <p><strong>Vertoningstijden</strong></p>
    <p>Maandag – Zaterdag: 14u30 – 17u - 20u - 22u30</p>
    <p class="mb-4">Zondag: 14u30 – 17u - 20u - 22u30</p>
    <h3 class="mb-4">Bereikbaarheid</h3>
    <p><strong>Met de wagen:</strong></p>
    <p class="mb-4">Vanuit Gent, Antwerpen, Brussel: grote Brusselse ring, afrit 15a (afrit Lennik) richting Vlezenbeek</p>
    <p><strong>Met de lijnbus:</strong>
    <p class="mb-4">Vanuit Brussel-Zuid, lijn 142 (Gaasbeek-Leerbeek), halte De Filmschuur</p>
    <p><strong>Met de metro:</strong></p>
    <p>Vanuit Brussel, Lijn 5 tot eindhalte Erasmus, overstappen op lijnbus 142 (Gaasbeek-Leerbeek), halte De FilmschuurParking</p>
    <p class="mb-4"><a href="https://www.delijn.be/nl/routeplanner/" target="_blank">Plan hier uw route</a></p>
    <p><strong>Met de fiets:</strong></p>
    <p>Er zijn 2 fietsenstallingen voorzien aan de ingang van De FilmSchuur. Zet je fiets steeds op slot.</p>
    <p>Let Op: wegens veiligheidsvoorschriften worden plooifietsen niet toegelaten in de cinemazalen.</p>
    <p class="mb-4"><a href="https://www.blue-bike.be/nl" target="_blank">Combineer je treinrit in Brussel-Zuid of Halle met Blue-Bike. Of combineer je metrotrip met Villo.</a></p>
    <h3>Parking:</h3>
    <p>Naast De Filmschuur bevindt zich een ruime parking.</p>
    <p>Momenteel zijn er vijf laadpalen voor elektrische auto's aanwezig</p>
    <p>Een parkeerticket kost 2 euro. Deze parking wordt niet bewaakt. Laat dus geen waardevolle voorwerpen zichtbaar achter in je wagen.</p>
  </div>
</div>

<div id="tarievenf" class="jump"></div>
<div class="explanation content mb-3 mb-md-5">
  <h3>Standaardtarief: € 9,50</h3>
  <h3 class="mb-2">Kortingstarief: € 7,50 </h3>
  <ul class="custom_list">
    <li>Kinderen en jongeren tot 18 jaar</li>
    <li>Studenten tot 26 jaar (op vertoon van een geldige studentenkaart)</li>
    <li>Senioren vanaf 60 jaar</li>
    <li>Mensen met een handicap</li>
    <li>Werklozen (op vertoon van een geldige controlekaart)</li>
  </ul>
  <h3 class="mb-2">Toeslagen: € 1,00</h3>
  <ul class="custom_list">
    <li>3D-films (3D-brillen zijn te koop aan de kassa aan € 2,50 per stuk.)</li>
    <li>films langer dan 140 minuten</li>
  </ul>
  <h3>Parking: € 2,00</h3>
  <h3>Cadeaucheque: € 9,50 per stuk,
      vanaf 10 stuks slechts € 7,50 per stuk</h3>
  <p>Verjaardag, pensioen, kerst, nieuwjaar .... Allemaal gelegenheden die wel een geschenk verdienen. De Filmschuur heeft voor jou de ideale oplossing.
      De bioscoopcheque is een leuk cadeau voor jong en oud.
  <p><em>De bioscoopcheque is een leuk cadeau waar iedereen kan van genieten!</em></p>
  <p>Deze cheques kan je bij ons aan de kassa verkrijgen.
    Ze zitten verpakt in een leuke geschenkverpakking (1 verpakking per 2 tickets inbegrepen, anders 0.50 € voor een verpakking van 1 ticket).</p>
  <p>Let wel, speciale vertoningen, 3D voorstellingen, extra lange films en exclusieve avant-premières kunnen een lichte toeslag kennen.</p>
</div>

<div id="zalen" class="jump"></div>
<div class="explanation content mb-3 mb-md-5">
  <h3>Duurzaamheid</h3>
  <p class="text-justify mb-4"> Bij het ontwerp van ons bioscoopcomplex stonden naast het comfort van de bezoekers en medewerkers
      ook de groene parameters centraal. De FilmSchuur tracht haar ecologische voetafdruk maximaal te beperken
      door de keuze van energiebronnen en bouwtechnische materialen en door middel van het flexibel gebruik van ruimtes.
      Een belangrijke stap in het duurzaamheidsbeleid was de digitalisering van de projectiesystemen.
      Al onze zalen zijn uitgerust met 100% laserprojectie. Laserprojectoren staan garant voor een sublieme beeldkwaliteit
      maar laten ook toe tot 40% energie te besparen ten opzichte van projectoren met xenon-lampen.
      Door de afwezigheid van lampen is er bovendien minder koeling nodig en ook lampvervangingen zijn verleden tijd.
      Ook het toenemend belang van online en mobiele ticketverkoop reduceert de ecologische impact van operationele activiteiten.
      Verder werden diverse energiebesparende maatregelen genomen zoals de installatie van LED-verlichting,
      zowel in de zalen als in de foyers, fotoluminescente rijnummering en performante verwarmingssystemen.
      Het waterverbruik werd ingeperkt, onder meer door kranen met optische detectie, en bezoekers worden voortdurend gesensibiliseerd
      om de sortering van afval te respecteren.</p>

  <h3>Nieuwe ervaring</h3>

  <h5>Dolby Atmos</h5>
  <p class="text-justify mb-4">Dit immersieve geluidssysteem zorgt voor een adembenemend geluid uit alle richtingen. Je wordt helemaal ondergedompeld
      in een verbluffend heldere, ruimtelijke, rijke geluidsomgeving door 64 boxen, waardoor je letterlijk én figuurlijk door
      de meest onheilspellende, zoete of opzwepende klanken wordt omringd.</p>
  <h5>Laser ULTRA</h5>
  <p class="text-justify mb-4">Haarscherpe lijnen, kleuren die van het scherm spatten: met een lichtsterkte tot wel 60.000 lumen is de bekroonde laserprojector
      van Barco in staat om 4K-content te tonen tegen 60 beelden per seconde (fps). Met Laser ULTRA ontgaat je geen enkel detail, want echter dan dit wordt het niet.</p>
  <h5>Auro by Barco</h5>
  <p class="text-justify mb-4">Het immersieve geluidssysteem gecreëerd door Barco, genaamd ‘Auro’, zorgt ervoor dat het geluid levensecht gaat klinken
      door de geluidsgolven van alle kanten te laten komen zoals dit ook in het dagdagelijkse leven gebeurt.
      Auro implementeert twee extra lagen boven de Dolby 5.1 surround sound-laag.</p>
  <h5>IMAX</h5>
  <p class="text-justify mb-4">Krachtiger. Performanter. Vernieuwender. Intenser. Innovatie, volledig ten dienste van uw filmbeleving.
      Onze IMAX zaal dompelt u onder in een volledig nieuwe wereld. Beleef de IMAX®-ervaring. Dankzij onze kennis van de geometrie
      van zalen komt de magie tot leven zodra het licht wordt gedoofd. Een spectaculaire ontploffing. Zacht gefluister in je oor.
      Het is niet langer alleen je oor maar je hele lichaam dat zelfs het zachtste geruis ervaart. Dankzij de uiterste precisie van
      ons ingebouwde audiosysteem en de perfecte oriëntatie van de luidsprekers hoort u niet alleen een speld vallen,
      maar weet u ook precies waar ze is terechtgekomen. De IMAX-technologie verbetert de weergave van de geluidsband in elke noot,
      tot het zachtste geschuifel van schoenen op de grond. De originele klankband van elke film wordt volledig geremixt onder toezicht van de regisseur.
      Deze klank, die bijzonder helder en zuiver is, wordt vervolgens in een op maat ontworpen zaal verspreid voor een optimale filmbeleving.</p>
  <h5>RealD 3D</h5>
  <p class="text-justify">Onze 100% digitale 6D technologie wordt aangedreven door het baanbrekende RealD Cinema-systeem.
      RealD 3D zorgt voor een unieke en innovatieve visuele ervaring, met een ongeziene diepte en helderheid.
      De digitale 3D technologie brengt je een prachtige, meeslepende belevenis, met heldere, scherpe, hyperrealistische beelden
      zo levensecht dat je het gevoel hebt dat je in de film bent gestapt. RealD 3D voegt een diepte toe die je midden in de actie plaatst,
      of je nu een reis maakt door een nog onontdekt land of voorwerpen ontwijkt die door de bioscoopzaal lijken te vliegen.
      Meer info over tarieven en beschikbaarheid vind je op onze bioscooppagina's.</p>
  <p class="text-justify mb-4">Je hebt natuurlijk een 3D bril nodig.
      Onze 3D brillen zijn superlicht met een geweldig ontwerp en zitten echt comfortabel (en ja - ze passen gemakkelijk over een bril op sterkte).
      Ze bestaan zelfs in drie soorten: één voor volwassenen, één voor kinderen en een clip-on versie die je eenvoudig op je gewone bril vastklikt.
      Wanneer je je tickets koopt, moet je jouw 3D bril apart aanschaffen omdat deze niet bij het ticket wordt geleverd (geldt niet voor IMAX 3D voorstellingen).
      De bril kost slechts € 2.5 en je kunt je 3D bril de volgende keer gewoon opnieuw gebruiken (dit bespaart geld en is beter voor het milieu).
      Als de glazen bekrast of verkleurd raken, raden we aan om een nieuwe bril te kopen.</p>

  <h3 i>Zaalinfo</h3>
  <div class="table-responsive">
    <table class="table table-hover">
      <tr>
        <th scope="col">Zaalnaam</th>
        <th scope="col">Plaatsen</th>
        <th scope="col">Schermgrootte</th>
        <th scope="col">Technologiëen</th>
        <th scope="col">Faciliteiten</th>
      </tr>
      <tr>
        <th scope="row">Lumière</th>
        <td>153</td>
        <td>5.04m x 12.25m</td>
        <td>alle hoger genoemde technologieën</td>
        <td>toegankelijk voor anders validen</td>
      </tr>
      <tr>
        <th scope="row">Edison</th>
        <td>108</td>
        <td>4.51m x 10.78m</td>
        <td>alle hoger genoemde technologieën</td>
        <td>toegankelijk voor anders validen</td>
      </tr>
      <tr>
        <th scope="row">Muybridge</th>
        <td>57</td>
        <td>2.98m x 6.78m</td>
        <td>alle hoger genoemde technologieën</td>
        <td>toegankelijk voor anders validen</td>
      </tr>
    </table>
  </div>

  <h5>Geluidsnormen</h5>
  <p>De Filmschuur past het ministrieel besluit 12310 van 12.02.2014 toe, dat de vereisten vastlegt waaraan het geluidssysteem in digitale bioscopen moet voldoen.</p>
  <p>Dit betekent onder meer dat we:</p>
  <ul class="custom_list">
    <li>jaarlijks al onze bioscoopzalen kalibreren.</li>
    <li>om de twee weken de geluidsinstellingen aan een nauwgezette controle onderwerpen.</li>
    <li>ook het maximale geluidsdrukniveau controleren van de verschillende programmatypes (voorprogramma, kinderfilms,...).</li>
    <li>systematisch de regeling van het volume aanpassen aan het programmatype en aan de zaalgrootte.</li>
  </ul>

  <h5>Onberispelijk schoon bij elke vertoning?</h5>
  <p class="text-justify mb-4">Een bioscoop is een cultureel trefpunt waar heel veel bezoekers komen en dat bijzondere zorg vereist.
      Het is belangrijk dat uw bioscoopcomplex methodisch en zeer nauwgezet worden schoongemaakt. Vooral ook omdat
      de ervaring van uw bezoekers zich niet beperkt tot het bekijken van een film. Ze wordt ook beïnvloed door
      de kwaliteit van de omgeving waarin de film wordt vertoond.</p>
  <h5>De temperatuur in onze zalen</h5>
  <p class="text-justify mb-4">Al onze zalen beschikken over airco. De temperatuur in de zaal wordt permanent gecontroleerd.
      Wanneer je de temperatuur als abnormaal warm of koud ervaart, kan je je tot een van onze medewerkers wenden.
      Zij zullen de temperatuur in de zaal extra controleren en indien nodig actie ondernemen.
      Om het probleem zo goed mogelijk te kunnen aanpakken vragen wij je ook je rij- en zetelnummer door te geven.
      Zo kan onderzocht worden welke luchtstromen eventueel als hinderlijk ervaren worden.
      In sommige bioscopen staan de oudere installaties niet toe om op korte tijd over te schakelen van verwarmen naar koelen. Dit kan in het tussenseizoen (lente - herfst) mogelijk vervelende situaties opleveren wanneer het bijvoorbeeld overdag nog zeer warm is, maar 's avonds sterk afkoelt.
    </p>

  <h5>Toiletten</h5>
  <p class="text-justify">Het toiletbeheer in De FilmSchuur is in handen van een gespecialiseerd bedrijf. Dit is noodzakelijk om de hygiëne en het beheer van de toiletten de waarborgen.
      Heb je een opmerking of vraag over de verleende service, aarzel dan niet om de toitletdames aan te spreken.
      Het gebruik van de toiletten is gratis voor kinderen kleiner dan 1m40 en in Kinepolis Leuven. In onze andere cinema's vragen we 0.40 euro.</p>
</div>

<div id="huisregels" class="jump"></div>
<div class="explanation content mb-3 mb-md-5">

  <div class="mb-5">
    <h3>Onze huisregels</h3>
    <p><em>"Uitgaan moet voor iedereen gezellig zijn. Daarom gelden er huis- en gedragsregels."</em></p>
  </div>

  <div class= "row" id="list2">
    <div class ="col-12 col-sm-6">
      <ol>
        <li><p class="text-justify"><em><strong>GSM's</strong></em> Draagbare telefoons zijn onverdraagbaar. Vergeet niet om je gsm uit te zetten vóór je de zaal binnengaat.</p></li>
        <li><p class="text-justify"><em><strong>Verplichte vestiare</strong></em> Om veiligheidsredenen is het opbergen van jassen, (rug)zakken, grote tassen voor de voorstelling verplicht. Je kan je jas met een gerust hart achterlaten in de bewaakte vestiaire. Het gebruik van de vestiaire is verplicht.</p></li>
        <li><p class="text-justify"><em><strong>Ticketcontrole</strong></em> Heb je een ticket? De toegang tot de zalen is gereserveerd voor personen met een geldig ticket, gecontroleerd door ons.</p></li>
        <li><p class="text-justify"><em><strong>Rookverbod</strong></em> Enkel de acteurs steken het vuur aan de lont. Het is verboden te roken in de cinema’s.</p></li>
        <li><p class="text-justify"><em><strong>Stilte</strong></em> Stilte! En ... Actie! Gelieve de rust in de bioscoop en het goede verloop van een voorstelling te respecteren.</p></li>
        <li><p class="text-justify"><em><strong>Veiligheid</strong></em> Hou de ingang van de zalen vrij en volg de richtlijnen van de veiligheidsmensen nauwgezet op. Bij het betreden van de bioscoopzaal is de bezoeker
          verplicht goede nota te nemen van diverse nooduitgangen. In geval van evacuatie wordt de bezoeker verzocht de aanwijzingen en instructies van het als zodanig herkenbare bioscooppersoneel en dit terstond op te volgen.</p></li>
        <li><p class="text-justify"><em><strong>Opnames</strong></em> Het is verboden foto’s, film- of geluidsopnames te maken tijdens de voorstelling zonder voorafgaande toestemming.</p></li>
      </ol>
    </div>

    <div class ="col-12 col-sm-6">
      <ol start="8">
        <li><p class="text-justify"><em><strong>Toegang</strong></em> Je bent geen duif, en een cinemazaal is geen duivenhok. 10 minuten na aanvang van de film is de toegang tot de zaal verboden..</p></li>
        <li><p class="text-justify"><em><strong>Eten</strong></em> Je eet wat de pot schaft. In de zalen mag je uitsluitend dranken en versnaperingen nuttigen die in het bioscoopcomplex worden verkocht.</p></li>
        <li><p class="text-justify"><em><strong>Huisdieren</strong></em> Dieren, ook aan de leiband, zijn niet toegelaten binnen het cinemacomplex.</p></li>
        <li><p class="text-justify"><em><strong>Gedrag</strong></em> Zorg zelf niet voor cinema. De toegang tot de cinema zal worden geweigerd aan elke persoon die tekenen vertoont van dronkenschap of aanstalten maakt tot fysiek of verbaal geweld.</p></li>
        <li><p class="text-justify"><em><strong>Kijkwijzer</strong></em> Kinderen vanaf 3 jaar zijn welkom. Kinderen jonger dan 12 jaar dienen steeds begeleid te worden door een volwassene. Bij sommige speelfilms geldt een leeftijdsgrens.
            Daartoe als zodanig herkenbare functionarissen van de bioscoop hebben het recht de bezoeker hierop te wijzen en personen beneden deze leeftijdsgrens te weigeren. </p></li>
        <li><p class="text-justify"><em><strong>Baldadigheden</strong></em> Het is verboden om onze eigendommen mee te nemen buiten het gebouw. Bij beschadigingen van onze eigendommen bent u aansprakelijk voor de reparatie- en vernieuwingskosten. Elke beschadiging wordt vervolgd.</p></li>
        <li><p class="text-justify"><em><strong>Aansprakelijheid</strong></em> Het verblijf van de bezoeker in de bioscoop is voor zijn/haar eigen rekening en risico. De bioscoop is nimmer aansprakelijk voor de door de bezoeker geleden schade wegens verlies en/of diefstal van persoonlijke eigendommen</p></li>
      </ol>
    </div>

    <p class="px-3 text-justify">
      Indien het redelijk oordeel van een leidinggevend functionaris van de bioscoop, de bezoeker op enigerlei wijze in strijd is met de aangegeven normen,
        aanwijzingen of instructies handelt, kan de bezoeker de verdere toegang tot de bioscoop worden ontzegd dan wel door de politie worden verwijderd,
        zonder dat de bezoeker enig recht op vergoeding van zijn/haar toegangsbewijs geldend kan maken.</p>
  </div>
</div>

<div id="FAQ" class="jump"></div>
<div class="explanation content mb-3 mb-md-5">

  <div class>
    <h3 class="text-center text-sm-left mb-4">Veel gestelde vragen</h3>
  </div>

  <div class="accordion md-accordion" id="accordionOne" role="tablist" aria-multiselectable="true">
    <div class="card">

      <div class="card-header z-depth-1 grey lighten-3" role="tab" id="headingOne">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionOne" href="#collapseOne"
           aria-expanded="false" aria-controls="collapseOne">
          <h5 class="mb-0">
            Is De Filmschuur toegankelijk voor mensen met een handicap? <i class="fas fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>

      <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordionOne">
        <div class="card-body">
          Alle zalen van De Fimschuur zijn op het gelijkvloers en beschikken over een zone vooraan in de zaal die voorbehouden is voor rolstoelen.
          Er is een rolstoeltoegankelijk toilet aanwezig. Houders van een begeleiderspas voor personen met een handicap kunnen als begeleider een gratis ticket verkrijgen.
          Je kan het gratis ticket enkel verkrijgen aan de ticketbalies van De Filmschuur, op vertoon van een geldige begeleiderspas.
          Je hebt dus voor iedere vertoning een ticket nodig.
          Teneinde de risico’s voor filmbezoekers in een rolstoel te beperken in geval van een evacuatie, zijn een aantal maatregelen van toepassing:
          Indien de zaal toegankelijk is voor rolstoelgebruikers, mogen zij plaats nemen op een vastebioscoopzetel, die zich bevindt op het uiterste van een rij,
          dichtbij een doorgang  en  in  de  nabijheid  van  een  ingangsdeur  en  dit  indien  de  begeleider ervoor zorgt dat de rolstoel wordt geplaatst opeen
          daarvoor voorziene plaats of naast de zetel van de rolstoelgebruiker (min. 60 cm vrij te houden). De rolstoel mag  niet  kunnen  wegrollen  of  kantelen.
          Rolstoelgebruikers  zonder  begeleider mogen enkel plaats nemen op de daarvoor speciaal voorziene plaatsen.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header z-depth-1 grey lighten-3" role="tab" id="headingTwo">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionOne" href="#collapseTwo"
           aria-expanded="false" aria-controls="collapseTwo">
          <h5 class="mb-0">
            Hoe lang van tevoren dien ik aanwezig te zijn? <i class="fas fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>

      <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordionOne">
        <div class="card-body">
          De deuren van de zaal gaan ongeveer een kwartier voor de start van de filmvoorstelling open. Wij adviseren je echter om een half uur van tevoren aanwezig te zijn omdat het wel eens druk kan zijn met parkeren of aan de kassa. Als je online een ticket hebt gekocht is een kwartier van tevoren aanwezig zijn voldoende.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header z-depth-1 grey lighten-3" role="tab" id="headingThree">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionOne" href="#collapseThree"
           aria-expanded="false" aria-controls="collapseThree">
          <h5 class="mb-0">
            Hoe kan ik betalen bij De Filmschuur? <i class="fas fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>

      <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordionOne">
        <div class="card-body">
          Filmkaartjes kun je kopen via onze website en betalen met bank- of creditkaart. Dat is het snelste en het makkelijkste, want je kunt direct doorlopen zonder aan te schuiven aan het loket.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header z-depth-1 grey lighten-3" role="tab" id="headingFour">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionOne" href="#collapseFour"
           aria-expanded="false" aria-controls="collapseFour">
          <h5 class="mb-0">
            Vanaf wanneer is het filmprogramma bekend? <i class="fas fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>

      <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordionOne">
        <div class="card-body">
          Iedere maandag maken we op onze site het filmprogramma bekend. Het nieuwe programma loopt van donderdag tot en met de woensdag de week erna.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header z-depth-1 grey lighten-3" role="tab" id="headingFive">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionOne" href="#collapseFive"
           aria-expanded="false" aria-controls="collapseFour">
          <h5 class="mb-0">
            Ik wil binnenkort naar een nieuwe film die uitkomt, draait deze ook bij jullie in de bioscoop? <i class="fas fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>

      <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordionOne">
        <div class="card-body">
          Zodra de nieuwe films bekend zijn, kun je het aanbod bekijken op onze website. Volg ons ook op Facebook voor het laatste nieuws.
          De FilmSchuur behoudt zich het recht voor om de filmprogrammatie te wijzigen en kan niet aansprakelijk gesteld worden voor het niet
          projecteren van de in de media en/of op   de   website aangekondigde   films,   die   steeds   onder   voorbehoud gepubliceerd worden
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header z-depth-1 grey lighten-3" role="tab" id="headingSix">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionOne" href="#collapseSix"
           aria-expanded="false" aria-controls="collapseSix">
          <h5 class="mb-0">
            Is er een pauze tijdens de film? <i class="fas fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>

      <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordionOne">
        <div class="card-body">
          Bij de middagvoorstellingen is er altijd een pauze. Bij avondvoorstellingen is er alleen een pauze, wanneer de voorstelling meer dan 140 minuten duurt.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header z-depth-1 grey lighten-3" role="tab" id="headingSeven">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionOne" href="#collapseSeven"
           aria-expanded="false" aria-controls="collapseSeven">
          <h5 class="mb-0">
            Vertonen jullie ook films in 3D? <i class="fas fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>

      <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#accordionOne">
        <div class="card-body">
          Sommige films kan je bij ons inderdaad zien in 3D formaat. 3D-brillen zijn te koop aan de kassa aan €2,50 per stuk. Let wel dat 3D-films een meerprijs hebben van € 1,OO.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header z-depth-1 grey lighten-3" role="tab" id="headingEight">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionOne" href="#collapseEight"
           aria-expanded="false" aria-controls="collapseEight">
          <h5 class="mb-0">
            Ik wil zelf mijn plaats uitkiezen in de bioscoop. Is dat mogelijk? <i class="fas fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>
      <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight" data-parent="#accordionOne">
        <div class="card-body">
          Ja, als je online een reservering maakt is het mogelijk om zelf een plaats uit te kiezen, zolang deze nog vrij is?
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header z-depth-1 grey lighten-3" role="tab" id="headingNine">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionOne" href="#collapseNine"
           aria-expanded="false" aria-controls="collapseNine">
          <h5 class="mb-0">
            Is er een vestiaire? <i class="fas fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>
      <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine" data-parent="#accordionOne">
        <div class="card-body">
          De vestiaire bevindt zich vlak naast het onthaal. Op last van de brandweer mogen jassen, grote tassen en (rug)zakken niet meegenomen worden in de zalen.
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header z-depth-1 grey lighten-3" role="tab" id="headingTeen">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordionOne" href="#collapseTeen"
           aria-expanded="false" aria-controls="collapseTeen">
          <h5 class="mb-0">
            Ik wil graag weten tot wanneer een bepaalde film wordt vertoond. <i class="fas fa-angle-down rotate-icon"></i>
          </h5>
        </a>
      </div>
      <div id="collapseTeen" class="collapse" role="tabpanel" aria-labelledby="headingTeen" data-parent="#accordionOne">
        <div class="card-body">
          Op maandag maken we op deze site het nieuwe filmprogramma bekend. Het nieuwe programma loopt van donderdag t/m woensdag. Hoe lang een bepaalde film wordt vertoond, is onder andere afhankelijk van het nieuwe aanbod.
        </div>
      </div>
    </div>
  </div>
</div>

<div id="contact" class="jump"></div>
  <div class="explanation contennt mb-3 mb-md-5">

  <div class="row">
      <div class="col-6">
        <h3 class="mb-4">Contact</h3>
        <p><i class="fas fa-map-marker-alt mr-2 "></i>Kasteelstraat 20, 1750 Gaasbeek</p>
        <p><i class="fas fa-phone-volume mr-2"></i> 00 32 (0)2 123 45 67 <span class="small">(op weekdagen van 14u tot 22u)</span></p>
        <p><i class="far fa-envelope mr-2 mb-4"></i> <a href="mailto:info@dfs.be">info(at)dfs.be</a></p>
      </div>
  </div>

  <section class="section pb-3">
    <h3 class= "pt-4">Team</h3>
    <p class="section-description mb-4">Onze medewerkers helpen je maar al te graag verder. Contacteer ons en wij komen binnen de 48 uur terug op je vraag.</p>

    <div class="row">
      <div class="col-lg-4 col-sm-12 mb-4">
        <div class="card testimonial-card">
          <!--Background color-->
          <div class="card-up">
          </div>
          <!--Avatar-->
          <div class="avatar mx-auto white"><img src="{{ asset('img/avatar-danny.png') }}"
                                                 alt="avatar mx-auto white" class="rounded-circle img-fluid">
          </div>
          <div class="card-body mb-5">
            <h4 class="card-title mt-1">Danny Eeraerts</h4>
            <hr>
            <p>"Bioscoop is de perfecte plek voor 'samen' beleven."</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-sm-12 mb-4">
        <div class="card testimonial-card">
          <!--Background color-->
          <div class="card-up">
          </div>
          <!--Avatar-->
          <div class="avatar mx-auto white"><img src="{{ asset('img/avatar_koen.png') }}"
                                                 alt="avatar mx-auto white" class="rounded-circle img-fluid">
          </div>

          <div class="card-body mb-5">
            <h4 class="card-title mt-1">Koen Michiels</h4>
            <hr>
            <p>"DFS, zoveel meer dan rode theaterstoelen."</p>
          </div>
        </div>

      </div>

      <div class="col-lg-4 col-sm-12 mb-4">
        <div class="card testimonial-card">
          <!--Background color-->
          <div class="card-up"></div>
          <!--Avatar-->
          <div class="avatar mx-auto white"><img src="{{ asset('img/avatar_quinten.png') }}"
                                                 alt="avatar mx-auto white" class="rounded-circle img-fluid">
          </div>
          <div class="card-body mb-5">
            <h4 class="card-title mt-1">Quinten Roos</h4>
            <hr>
            <p>"Alleen met het beste zijn we tevreden".</p>
          </div>
        </div>
      </div>

    </div>

  </section>
  <h3 class= "pt-4">Missie en visie</h3>
  <p class="text-justify">Binnen een brede maatschappelijke context hecht De FilmSchuur het grootste belang aan de ecologische, culturele en sociale gevolgen van haar bedrijfsvoering. De FilmSchuur is zich bewust van haar maatschappelijke rol en mogelijke impact op alle belangengroepen.
    De FilmSchuur brengt de boodschap dat we een beter leven hebben wanneer we ons inspannen om onze planeet te beschermen en met respect omgaan met alles dat en iedereen die daarop leeft. Dit doen we door onze bezoekers virtueel naar andere plaatsen te brengen en ze daardoor meer wereldburger te maken.</p>

</div>

<footer class="d-flex flex-column flex-md-row">
  <div class="mr-md-auto py-3 copy">&copy DFS <span id="htmlYear">jaar</span></div>
  <div class="p-3 lijn-top"><a href="">Algemene Voorwaarden</a></div>
  <div class="p-3 lijn-top-bottom"><a href="">Privacybeleid</a></div>
  <div class="footer-menu py-3 pl-3"><a href="">Cookiebeleid</a></div>
</footer>

{% endblock %}
{% block scripts %}
  <script type="text/javascript" src="{{ asset('js/submenu.js') }}"></script>
{% endblock %}
