{% extends 'base.html.twig' %}
{% block title %}Kies uw tickets!{% endblock %}
{% block body %}
    <section class="lightbody">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <div class="card card-film slider-element">
                        <img class="card-img-top" src="" alt="Card image cap">
                        <div class="card-film-body">
                            <h5 class="card-title font-weight-bold text-center py-3"></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}