@import url("https://fonts.googleapis.com/css?family=Lora|Roboto");
.navbar {
  background-color: #D17133 !important;
  font-family: "Roboto", sans-serif; }
  .navbar-brand {
    width: 200px;
    height: 60px; }
    .navbar-brand img {
      height: 50px; }
  .navbar-nav h3,
  .navbar-nav a {
    color: #F7F7F7; }

.midtext {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .midtext p {
    color: #532406; }

body {
  font-family: "Lora", serif; }

p {
  margin-bottom: 0; }

.homepage {
  height: 100vh; }

.lightbody {
  background-color: #F7F7F7; }

.darkbody {
  background-color: #1F1F1E; }

.orangebody {
  background-color: #D17133; }

.slider-element {
  border: 1px solid #D17133; }

.carousel-multi-item {
  margin-top: 80px;
  margin-bottom: 0 !important; }
  .carousel-multi-item .controls-top {
    margin-bottom: 0; }
    .carousel-multi-item .controls-top a {
      background-color: #D17133 !important; }

.card {
  font-family: "Roboto", sans-serif; }
  .card-title {
    margin-bottom: 0; }
  .card-body {
    background-color: #1F1F1E;
    border: 1px solid #D17133;
    border-left: none;
    border-right: none;
    border-bottom: none;
    position: relative; }
    .card-body:hover {
      background-color: #D17133; }
    .card-body h5 {
      color: #D17133;
      height: 50px; }
    .card-body:hover h5 {
      color: #F7F7F7; }
