@import url("https://fonts.googleapis.com/css?family=Lora|Roboto|FontAwesome");
body {
  font-family: "Lora", serif, "FontAwesome"; }

h1, h2, h3, h4, h5, h6, a {
  font-family: "Roboto", sans-serif; }

p {
  margin-bottom: 0; }

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-family: "Roboto", sans-serif; }

::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Roboto", sans-serif; }

:-ms-input-placeholder {
  /* IE 10+ */
  font-family: "Roboto", sans-serif; }

:-moz-placeholder {
  /* Firefox 18- */
  font-family: "Roboto", sans-serif; }

.lightbody {
  background-color: #F7F7F7; }

.darkbody {
  background-color: #1F1F1E; }

.orangebody {
  background-color: #D17133; }

.navbar {
  background-color: #D17133 !important;
  font-family: "Roboto", sans-serif; }
  .navbar-brand {
    width: 200px;
    height: 60px; }
    .navbar-brand img {
      height: 50px; }
  .navbar-nav h3,
  .navbar-nav a {
    color: #F7F7F7; }

.midtext {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .midtext p {
    color: #532406; }

.homepage {
  height: 100vh; }

.slider-element {
  border: 1px solid #D17133; }

.carousel-multi-item {
  margin-top: 80px;
  margin-bottom: 0 !important; }
  .carousel-multi-item .controls-top {
    margin-bottom: 0; }
    .carousel-multi-item .controls-top a {
      background-color: #D17133 !important; }

.card-film {
  font-family: "Roboto", sans-serif; }
  .card-film:hover .card-film-body, .card-film:hover .card-film-body h5 {
    background-color: #D17133;
    color: #F7F7F7; }
  .card-film-title {
    margin-bottom: 0; }
  .card-film-body {
    background-color: #1F1F1E;
    border: 1px solid #D17133;
    border-left: none;
    border-right: none;
    border-bottom: none;
    position: relative; }
    .card-film-body:hover {
      background-color: #D17133; }
    .card-film-body h5 {
      color: #D17133; }

.overview {
  padding-top: 100px; }

.formOverview {
  border: 1px solid #D17133;
  color: #F7F7F7;
  font-family: "Roboto", sans-serif; }

.form-check-input[type=radio].with-gap:checked + label:after, .form-check-input[type=radio]:checked + label:after, label.btn input[type=radio].with-gap:checked + label:after, label.btn input[type=radio]:checked + label:after {
  background-color: #D17133; }

.form-check-input[type=radio].with-gap:checked + label:after, .form-check-input[type=radio].with-gap:checked + label:before, .form-check-input[type=radio]:checked + label:after, label.btn input[type=radio].with-gap:checked + label:after, label.btn input[type=radio].with-gap:checked + label:before, label.btn input[type=radio]:checked + label:after {
  border: none; }

.overview {
  color: #D17133; }
  .overview hr {
    width: 30%;
    background-color: #D17133; }

.form-check-inline:first-child {
  margin-left: 8px; }

.select-wrapper span.caret {
  color: #F7F7F7;
  z-index: 100;
  padding-right: 0.5rem; }

.select-wrapper input.select-dropdown {
  width: 195px;
  border: 1px solid #D17133;
  background-color: #1F1F1E;
  margin: 0 0 0 0.375rem;
  color: #F7F7F7; }

.select-wrapper input.select-dropdown li {
  padding-left: 1rem; }

.datechoose {
  margin: 0; }

.movie-date-choose {
  width: 50%; }

.dropdown-content {
  background-color: #1F1F1E;
  border: 1px solid #D17133; }

.dropdown-primary .dropdown-content li a, .dropdown-primary .dropdown-content li span:hover, .dropdown-primary .dropdown-content li.active {
  background-color: #D17133 !important;
  color: #F7F7F7 !important; }

.dropdown-content li > a, .dropdown-content li > span {
  color: #D17133; }

.dropdown-content li.active, .dropdown-content li:hover {
  background-color: #D17133;
  color: #F7F7F7 !important; }

.dropdown-content li.active, .dropdown-content li:hover > span {
  color: #F7F7F7 !important; }

.video {
  width: 100vw; }
  .video iframe {
    width: 100%;
    height: calc(100vh - 76px);
    border: none; }

.pijl {
  color: #F7F7F7; }
  .pijl i {
    font-size: 2.5rem; }
  .pijl:hover {
    color: #D17133; }

.movie-details {
  border: 1px solid #D17133;
  border-radius: .125rem; }

.icons {
  width: 100%;
  height: 60px; }
  .icons img {
    width: 10%;
    margin-right: 15px; }

.info {
  color: #1F1F1E; }
  .info p {
    font-size: 1.5rem; }

.date-picker label {
  margin-top: 20px; }

.bestellen {
  width: 100%; }
  .bestellen label {
    float: left; }

.order-button {
  background-color: #D17133;
  color: #F7F7F7; }
  .order-button:hover {
    color: #1F1F1E; }

.subnavbar {
  width: 90%;
  margin-top: 8rem !important;
  margin-left: 5%;
  margin-right: 5%;
  overflow: auto; }
  .subnavbar a {
    float: left;
    background-color: #532406;
    margin-left: 1%;
    padding: 1rem;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 15.8%;
    /* Six links of equal widths */
    text-align: center;
    -webkit-box-shadow: 4px 4px 8px 0px #787878;
    -moz-box-shadow: 4px 4px 8px 0px #787878;
    box-shadow: 4px 4px 8px 0px #787878;
    margin-bottom: 1rem; }
    .subnavbar a:first-child {
      margin-left: 0; }
    .subnavbar a:hover {
      background-color: #A37054;
      color: #F7F7F7; }
    .subnavbar a.active {
      background-color: #D17133;
      color: #F7F7F7; }

/* @media screen and (max-width: 768px) {
    .subnavbar a {
      padding: .5rem 1rem;
    } 
    }*/
@media screen and (max-width: 500px) {
  .subnavbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
    margin-left: 0; } }

.explanation,
.map {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0.75rem; }

.explanation {
  padding: 2.75% 3% 2.75% 3%;
  border: solid 1px #D17133; }
  .explanation p,
  .explanation li {
    color: #707070; }

iframe {
  border-color: #D17133; }

.custom_list li {
  margin-left: 0;
  list-style: none;
  display: inline-table; }
  .custom_list li::before {
    content: "\f008";
    color: #D17133;
    padding-right: 0.75rem;
    display: table-cell; }

tr:first-child {
  background-color: #707070;
  color: white; }

#list2 ol {
  font-style: italic;
  font-size: 1.75rem;
  color: #D17133;
  padding-left: 4%; }
  #list2 ol li p {
    padding: 8px;
    font-style: normal;
    font-size: 1rem;
    color: #707070;
    border-left: 1px solid #999; }
    #list2 ol li p p em {
      display: block; }

@media screen and (max-width: 500px) {
  #list2 ol {
    padding-left: 8%; } }

.card-body-info {
  background-color: #F7F7F7;
  height: auto;
  padding-left: 1.6rem; }

/* .md-accordion .card .card-body-info{
    font-size: 1rem;
    color: var(--nog-een-kleur);
    } */
.btn.btn-link {
  color: #0056b3 !important;
  padding-left: 0; }

a:hover {
  color: #D17133; }

.card-up {
  background-color: #D17133; }

.card-body-info,
.card-body-info:hover {
  background-color: #F7F7F7;
  color: #532406; }

.card-title-info:hover {
  color: #532406; }

#topbar {
  background-color: #D17133;
  color: #F7F7F7;
  font-weight: bold;
  padding: 0.75rem 1.25rem;
  width: 100%;
  position: absolute;
  top: -0.15rem; }

.map {
  position: relative; }

/*internal anchor*/
.jump {
  content: "";
  display: block;
  height: 16rem;
  /* fixed header height*/
  margin: -16rem 0 0;
  /* negative fixed header height */
  visibility: hidden;
  pointer-events: none; }

/*hide some blocks*/
.noshow {
  display: none; }

a.htmlbutton {
  top: 5rem; }

/*faq page */
.accordion a {
  color: #D17133; }

.accordion a:hover,
.accordion a:focus {
  color: #532406; }

/*top for info pages */
.footer-link-page {
  margin-top: 8rem !important; }

/*top error pages */
.toptop {
  margin-top: 40vh !important; }

footer {
  background-color: #D17133;
  text-align: center; }
  footer a {
    color: #F7F7F7;
    text-transform: uppercase; }
    footer a:hover {
      background-color: #D17133;
      color: rgba(255, 255, 255, 0.75); }

.copy {
  margin-left: 5%; }

.footer-menu {
  margin-right: 5%; }

@media screen and (max-width: 767px) {
  .lijn-top {
    border-top: 1px solid #F7F7F7; }
  .lijn-top-bottom {
    border-bottom: 1px solid #F7F7F7;
    border-top: 1px solid #F7F7F7; }
  .copy {
    margin-left: 0; }
  .footer-menu {
    margin: 0;
    padding-left: 0 !important; } }

.welcome {
  line-height: 1rem; }

header {
  background-color: var(--main-orange-color); }

header h3 {
  color: white; }

.emphezise {
  font-size: 1.75rem;
  text-decoration: underline;
  color: var(--nog-een-kleur); }

.title {
  color: var(--nog-een-kleur);
  border: 4px solid var(--nog-een-kleur); }

.blueborder {
  color: var(--nog-een-kleur);
  border: 2px solid #0056b3; }

.zaal {
  color: var(--main-orange-color);
  background: var(--nog-een-kleur);
  border: 2px solid var(--main-orange-color); }

.rij {
  color: white;
  background: var(--nog-een-kleur); }

.zetel {
  color: white;
  background: var(--main-orange-color); }

.fa-check {
  color: var(--main-orange-color); }
