:root{
    --main-bg-color: #1F1F1E;
    --main-orange-color: #D17133;
    --main-white-color: #F7F7F7;
    --nog-een-kleur: #532406;
  }
body{
  font-family: 'Roboto', sans-serif,'FontAwesome';
}
p{
  margin-bottom: 0;
}
.lightbody{
  background-color: white;
}
.darkbody{
  background-color: var(--main-bg-color);
}
.orangebody{
  background-color: var(--main-orange-color);
}
.navbar{
  background-color: var(--main-orange-color) !important;
}
.navbar-brand{
  width: 200px;
  height: 60px;
}
.navbar-brand img{
  height: 50px;
}
.navbar-nav h3, .navbar-nav a{
  color: var(--main-white-color);
}
.midtext{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.midtext p{
  color: var(--nog-een-kleur);
}
.slider-element{
  border: 1px solid var(--main-orange-color);
}
.card-body{
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-orange-color);
  border-left: none;
  border-right: none;
  border-bottom: none;
  height: 109px;
  position: relative;
}
.card-title{
  margin-bottom: 0;
}
.card-body h5{
  color: var(--main-orange-color);
  margin-top: 20px;
}
.card-body:hover{
  background-color: var(--main-orange-color);
}
.card-body:hover h5{
  color: var(--main-white-color);
}
.controls-top a{
  background-color: var(--main-orange-color) !important;
}
.carousel-multi-item {
  margin-bottom: 0;
}
.carousel-multi-item .controls-top{
  margin-bottom: 0;
}
.video{
  width: 100vw;
}
.video iframe{
  width: 100%;
  height: calc(100vh - 76px);
  border: none;
}
.pijl{
  color: var(--main-white-color);
}
.pijl i{
  font-size: 2.5rem;
}
.pijl:hover{
  color: var(--main-orange-color);
}
.movie-details{
  border: 1px solid var(--main-orange-color);
  border-radius: .125rem;
}
.icons{
  width: 100%;
  height: 60px;
}
.icons img{
  width: 10%;
  margin-right: 15px;
}
.info{
  color:var(--text-color);
}
.info p{
  font-size: 1.5rem;
}
.date-picker label{
  margin-top: 20px;
}
.bestellen{
  width: 100%;
}
.bestellen label{
  float: left;
}
.order-button{
  background-color: var(--main-orange-color);
  color: white;
}
.order-button:hover{
  color: var(--text-color);
}
.inhoud .sans-serif{
  font-family: 'Lora', serif;
}
.formOverview{
  border: 1px solid var(--main-orange-color);
  color: var(--main-white-color);
  padding: 10px;
}
.form-check-input[type=radio].with-gap:checked+label:after, .form-check-input[type=radio]:checked+label:after, label.btn input[type=radio].with-gap:checked+label:after, label.btn input[type=radio]:checked+label:after{
  background-color: var(--main-orange-color);
}
.form-check-input[type=radio].with-gap:checked+label:after, .form-check-input[type=radio].with-gap:checked+label:before, .form-check-input[type=radio]:checked+label:after, label.btn input[type=radio].with-gap:checked+label:after, label.btn input[type=radio].with-gap:checked+label:before, label.btn input[type=radio]:checked+label:after{
  border: 2px solid var(--main-orange-color);
}
.form-check-inline:first-child{
  margin-left: 20px;
}
.overview{
  color: var(--main-orange-color);
}
.overview hr{
  width: 30%;
  margin-left: 35%;
  background-color: var(--main-orange-color);
}
.select-wrapper input.select-dropdown{
  border: 1px solid var(--main-orange-color);
  background-color: var(--main-bg-color);
  margin: 0 0 0 0.375rem;
  color: var(--main-white-color);
  padding-left: 5px;
}
.select-wrapper span.caret{
  color: var(--main-white-color);
}
.datechoose{
  margin: 0;
}
.movie-date-choose{
  width: 50%;
}
.dropdown-content{
  background-color: var(--main-bg-color);
  border: 1px solid var(--main-orange-color);
}
.dropdown-primary .dropdown-content li a, .dropdown-primary .dropdown-content li span:hover, .dropdown-primary .dropdown-content li.active{
  background-color: var(--main-orange-color)!important;
  color: var(--main-white-color)!important;
}
.dropdown-content li>a, .dropdown-content li>span{
  color: var(--main-orange-color);
}




.subnavbar {
  width: 90%;
  margin-top: 8rem !important;
  margin-left: 5%;
  margin-right: 5%;
  overflow: auto;
}
.subnavbar a {
  float: left;
  background-color: var(--nog-een-kleur);
  margin-left: 1%;
  padding: 1rem;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 15.8%; /* Six links of equal widths */
  text-align: center;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(120,120,120,1);
  -moz-box-shadow: 4px 4px 8px 0px rgba(120,120,120,1);
  box-shadow: 4px 4px 8px 0px rgba(120,120,120,1);
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .subnavbar a {
    padding: .5rem 1rem;
  }
}
.subnavbar a:first-child {
  margin-left: 0;
}
.subnavbar a:hover {
  background-color: var(--hover-color);
  color: var(--main-white-color);
}
.subnavbar a.active {
  background-color: var(--main-orange-color);
  color: var(--main-white-color);
}
@media screen and (max-width: 500px) {
  .subnavbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
    margin-left: 0;
  }
}
.explanation{
  border: 2px solid var(--main-orange-color);
}
.explanation, .map{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: -0.75rem;
}
.explanation{
  padding: 2.75% 3% 2.75% 3%;
}
.custom_list li {
  margin-left:0;
  list-style:none;
  display: table-row;
}
.custom_list li:before {
  content: "\f008";
  color: var(--main-orange-color);
  padding-right:0.75rem;
  display: table-cell;
}
tr:first-child{
  background-color: var(--text-color);
  color: white;
}
#list2 ol {
  font-style:italic;
  font-size:1.75rem;
  color:var(--main-orange-color);
  padding-left: 4%;
}
#list2 ol li p{
  padding:8px;
  font-style:normal;
  font-size:1rem;
  color:var(--text-color);
  border-left: 1px solid #999; }

#list2 ol li p em {
  display:block;
}
@media screen and (max-width: 500px) {
  #list2 ol {
    padding-left: 8%;
  }
}
.card-body, .card-body:hover{
  background-color: white !important;
  height: auto;
  padding-left: 1.6rem;
}
.md-accordion .card .card-body{
  font-size: 1rem;
  color: var(--nog-een-kleur);
}
.btn.btn-link{
  color: #0056b3 !important;
  padding-left: 0;
}
.card-up {
  background-color: var(--main-orange-color);
}
.card-body, .card-body:hover{
  color: var(--nog-een-kleur);

}
a:hover {
  color: var(--main-orange-color);
}
