body {
    font-family: $f-lora, 'FontAwesome';
}
p {
    margin-bottom: 0;
}
.lightbody {
    background-color: $c-white;
}

.darkbody {
    background-color: $c-black;
}

.orangebody {
    background-color: $c-orange;
}