
    main.container {
        width: 100vh;
        padding-left: 0;
        padding-right: 0;
        margin-right: 0;
        margin-left: 0;
      }
  
      .container-fluid {
        padding-right: 0 !important;
        padding-left: 0 !important;
      }
  
      .navbar{
        box-shadow: none;
      }
  
      h4{
        color: #D17133;
        font-weight: bold;
      }
  
      label{
        color: #532406;
        margin-bottom: -0.15rem;
        font-size: 0.8rem;
      }
  
      .error{
        color: red;
        float: right;
        display: inline;
        margin-top: 0.25rem;
      }
  
      .btn{
        font-weight: bold;
        color: #532406;
        border: 1px solid #D17133;
        margin: 0;
      }
      .btn2{
        font-weight: bold;
        color: #D17133;
        background: white;
        border: 1px solid #D17133;
        margin: 0.5rem 0 0.5rem 0;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
        padding: .84rem 1.34rem;
        font-size: .81rem;
      }
  
      form{
        background-color: #F7F7F7;
        width: 56vw;
        left: 35%;
        top: 50%;
        position: absolute;
        -webkit-transform: translate3d(-25%, -50%, 0);
        -moz-transform: translate3d(-25%, -50%, 0);
        transform: translate3d(-25%, -50%, 0);
        -moz-box-shadow:    3px 3px 10px 0 #532406;
        -webkit-box-shadow: 3px 3px 10px 0 #532406;
        box-shadow:         3px 3px 10px 0 #532406;
      }
  
  
      @media only screen and (max-width: 600px) {
        form {
          left: 0;
          top: 0;
          -o-transform: none !important;
          -moz-transform: none !important;
          -ms-transform: none !important;
          -webkit-transform: none !important;
          transform: none !important;
        }
      }
  
      .form-control{
        margin-bottom: 1.5rem;
        color: #532406;
        background-color: #f7f7f7;
        border-bottom: 1px solid #D17133;
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0;
        height: 1.6rem;
        padding: 0;
      }
  
      .form-control:disabled, .form-control[readonly]{
        background-color: #f7f7f7;
      }
  
      .text-muted {
          color: #1B67BF !important;
      }
  
      .select-wrapper input.select-dropdown {
        border-bottom: 1px solid #D17133;
        line-height: 1.5;
        height: 1.6rem;
        color: #532406;
      }
  
      .dropdown-content li span{
        color: #D17133;
        padding: 0.25rem;
      }
  
      .test {
        color: red;
  
      }
      .md-form {
        margin-top: 0;
      }
  
      .input-group-addon, input.form-control{
        border-bottom: 1px solid #D17133;
      }
  
      .input-group-addon a, a:hover{
        color:#D17133;
      }
  
  
      small,.right-corner a {
        font-size: 0.75rem;
      }
  
      #triangle-bottomright {
        width: 0;
        height: 0;
        border-bottom: 20vh solid #f7f7f7;
        border-left: 50vw solid transparent;
        position: absolute;
        bottom: 0;
        z-index: -2;
      }
  
      .right-corner{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
      }
  
      input[type='text'],
      input[type='email'],
      input[type='password'],
      textarea {
        outline: none;
        box-shadow: none !important;
      }
  
  
  /*phone portrait*/
  
     @media screen and (max-width: 667px) {
       form {
         overflow-y: scroll;
         left: 5%;
         width: 80%;
         margin-left: 5%;
         height: 66vh;
         margin-top: 6rem;
       }
  
       #triangle-bottomright {
         width: 100px;
         height: 0;
         border-bottom: 18vh solid #f7f7f7;
         border-left: 170vh solid transparent;
         border-right: 0 solid transparent;
         position: absolute;
         bottom: 0;
         z-index: -2;
       }
     }
  
  /*phone landscape*/
  
    @media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: landscape) {
      form{
        overflow-y: scroll;
        height: 50vh;
        margin-left: 45vh;
        margin-top: -0.5rem;
        padding-top: 0.5rem !important;
      }
      #triangle-bottomright {
        width: 0;
        height: 0;
        border-bottom: 40vh solid #f7f7f7;
        border-left: 100vw solid transparent;
        position: absolute;
        bottom: 0;
        z-index: -2;
      }
    }
  
  /*ipad landscape*/
  
    @media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (orientation: landscape)
    and (-webkit-min-device-pixel-ratio: 1) {
      form {
        overflow-y: scroll;
        height: 72vh;
        margin-left: 2vw;
      }
      #triangle-bottomright {
        width: 100px;
        height: 0;
        border-bottom: 18vh solid #f7f7f7;
        border-left: 170vh solid transparent;
        border-right: 0 solid transparent;
        position: absolute;
        bottom: 0;
        z-index: -2;
      }
    }
  
  /* ipad portrait*/
  
      @media only screen
      and (min-device-width: 768px)
      and (max-device-width: 1024px)
      and (orientation: portrait)
      and (-webkit-min-device-pixel-ratio: 1) {
        #triangle-bottomright {
          width: 0;
          height: 0;
          border-bottom: 18vh solid #f7f7f7;
          border-left: 170vh solid transparent;
          border-right: 0 solid transparent;
          position: absolute;
          bottom: 0;
          z-index: -2;
        }
      }
  
      .modal-dialog {
        margin-top: 21vh;
        max-width: 56vw;
        left: -1%;
      }
      .close {
        font-size: 2rem;
        font-weight: bold;
        color: #532406;
      }
      .modal-content {
        background-color: #f7f7f7;
        pointer-events: bounding-box;
      }
      .modal-header {
        border-bottom: none;
      }
      .modal-footer{
        border-top: none;
      }
      .md-form input[type="email"] {
        border-bottom-color: #D17133;
        line-height: 1.5;
        padding: .3rem 0 .1rem;
      }
      .form-text{
        margin-top: 1rem;
      }
  
      <a class="navbar-brand" href="http://127.0.0.1:8000/"><img src="{{ asset('img/logo.png') }}" alt=""></a>
  