{% block footer %}
<footer class="d-flex flex-column flex-md-row">
  <div class="mr-md-auto py-3 copy">&copy DFS <span id="htmlYear">jaar</span></div>
  <div class="p-3 lijn-top"><a href="/algemene_voorwaarden">Algemene Voorwaarden</a></div>
  <div class="p-3 lijn-top-bottom"><a href="/privacybeleid">Privacybeleid</a></div>
  <div class="footer-menu py-3 pl-3"><a href="/cookiebeleid">Cookiebeleid</a></div>
</footer>
{% endblock %}