.square{
    width: 50px;
    height: 50px;
    background-color: $c-orange;
    margin: 5px;
    border-radius: 40% 40% 0 0;
    &.square2{
        width: 30px;
        height: 30px;
    }
    &:hover{
        background-color: $c-wine;
    }
    &:active{
        background-color: $c-gray;
    }
}
.screen{
    background-color: $c-wine;
    width: 80%;
    height: 20px;
    color: $c-white;
    font-family: $f-roboto;
}
