.homepage{
    height: 100vh;
}
.slider-element{
    border: 1px solid $c-orange;
}
.carousel-multi-item {
    margin-top: 80px;
    margin-bottom: 0 !important;
    .controls-top{
        margin-bottom: 0;
        & a{
            background-color: $c-orange !important;
        }
    }
}
.card{
    font-family: $f-roboto;
    &:hover &-body, &:hover &-body h5{
        background-color: $c-orange;
        color: $c-white;
    }
    &-title{
        margin-bottom: 0;
    }
    &-body{
        background-color: $c-black;
        border: 1px solid $c-orange;
        border-left: none;
        border-right: none;
        border-bottom: none;
        position: relative;
        &:hover{
            background-color: $c-orange;
        }
        & h5{
            color: $c-orange;
            height: 50px;
        }
    }
}