.video{
    width: 100vw;
    & iframe{
        width: 100%;
        height: calc(100vh - 76px);
        border: none;
      }
  }

  .pijl{
    color: $c-white;
    & i{
        font-size: 2.5rem;
      }
    &:hover{
        color: $c-orange;
    }
  }
  .movie-details{
    border: 1px solid $c-orange;
    border-radius: .125rem;
  }
  .icons{
    width: 100%;
    height: 60px;
    & img{
        width: 10%;
        margin-right: 15px;
      }  
}
  .info{
    color:$c-black;
   & p{
        font-size: 1.5rem;
      }
  }
  .bestellen{
    width: 100%;

    & label{
        float: left;
      }  
}
  .order-button{
    background-color: $c-orange;
    color: $c-white;
    &:hover{
        color: $c-black;
      }
  }
  .overview-form{
    margin-left: -20px;
    margin-top: 0.4rem;
    & option{
        padding: 0.5rem;
    }
  }
.show{
    display: block;
}
.hide{
    display: none;
}
.info-tekst{
    margin-top: -20px;
    margin-left: 10px;
    color: $c-gray;
}
.modal-header{
    background-color: $c-orange;
    color: $c-white;
}
.modal-body{
    & span{
        color:$c-orange;
    }
}