@import "settings/colors";
@import "settings/fonts";
@import "settings/base";
@import "components/header";
@import "pages/homepage";
@import "pages/overview";
@import "pages/seperate-movie";
@import "pages/information";
@import "tickets/ticketreservering";
@import "pages/ticketorder";
@import "components/footer";