@import "settings/colors";
@import "settings/fonts";

body{
    font-family: $f-lora;
}
p{
    margin-bottom: 0;
}

.lightbody{
    background-color: $c-white;
}
.darkbody{
    background-color: $c-black;
} 
.orangebody{
    background-color: $c-orange;
  }
.navbar{
    background-color: $c-orange !important;
    &-brand{
        width: 200px;
        height: 60px;
        & img{
            height: 50px;
          }
      }
    &-nav h3, &-nav a{
        color: $c-white;
    }
}
.midtext{
  display: flex;
  flex-direction: column;
  justify-content: center;
  & p {
      color: $c-wine;
  }
}